@charset "utf-8";

/* 공통요소 */
*::selection {color: #fff; background: #fce804;}
section {position: relative; width: 100%; height: calc(100vh); overflow: hidden;}
article {width: 68.75%; margin: 0 auto;}
h2 {font-size: 60px; font-weight: 400; line-height: 1.2;}
p {font-size: 23px; font-weight: 300; line-height: 1.5;}
.thin {font-weight: 100;}

/* section intro */
#intro {position: absolute; width: 82.6041%; left: 50%; transform: translate(-50%);}
.img-box {position: absolute; width: 100%; height: 100%; background: url(../img/airport-info/intro_bg.png) no-repeat center / cover fixed; animation: bgani 1.8s; transform-origin: center;}
@keyframes bgani {
	0% {transform: scale(1.1)}
	100% {transform: scale(1)}
}

.intro-tbox {width: 50%; float: right; margin-top: 200px; color: #fff;}
.intro-tbox p {padding-top: 20px;}
.intro-tbox:after {content: ''; display: block; border-left: solid 1px #fff; height: 170px; margin-top: 40px;}

/* section info */
section:nth-child(2) {background: #009afa;}
#info {color: #fff; text-align: center;}
.inner-airinfo {position: absolute; width: inherit; top: 50%; transform: translateY(-50%);}
.info-tbox {margin-bottom: 60px;}
.info-tbox > .sub-title {font-size: 15px; font-weight: 100; letter-spacing: 1px; color: #d8d8d8;}
.info-tbox > h2 {padding: 5px 0 50px;}
.info-tbox > h2 > br {display: none;}
.info-tbox .yellow {font-weight: 300; color: #fce804;}

#info .icon {width: 100%; color: #424242;}
.icon > div {position: relative; float: left; width: 26.6666%; margin-right: 10%; height: 350px; background: #fff; box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.3); background-repeat: no-repeat; background-size: 100px; background-position: top 20% left 50%;}
.icon .airport {background-image: url(../img/airport-info/ico_airplane.png);}
.icon .city {background-image: url(../img/airport-info/ico_cityscape.png);}
.icon .nation {background-image: url(../img/airport-info/ico_earth.png); margin-right: 0;}
.icon span {position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); font-size: 70px; font-weight: 400; padding: 20px 0;}
.icon p {position: absolute; width: 100%; bottom: 10%; left: 50%; transform: translateX(-50%); font-size: 32px; font-weight: 300;}

/* section since */
section:nth-child(3) {background: #eee;}
#since {width: 60%; color: #424242; text-align: center;}
.inner-since {position: absolute; width: inherit; height: 600px; top: 50%; transform: translateY(-50%);}
.inner-tbox > .sub-title {font-size: 15px; font-weight: 100; letter-spacing: 1px; color: #424242;}
.inner-tbox h2 {font-size: 40px; padding: 5px 0 30px;}
.inner-tbox .sky {font-weight: 500; color: #009afa;}

.year-box {position: absolute; top: 50%; transform: translateY(-50%); width: 100%; margin-top: 100px;}
.year-box > p {font-size: 400px; font-weight: 500; line-height: 1;}
.year-box .year-left {float: left; margin-left: -15px; height: auto;}
.year-box .year-right {float: right; margin-right: -20px; height: auto; overflow: hidden;}

.inner-since .airplane-img {position: absolute; top: 70%; left: 48%; transform: translate(-50%,-50%); z-index: 1;}
.inner-since .airplane-img img {max-width: none;}
.inner-since > p {position: absolute; width: 100%; bottom: 0; text-align: center;}

/* section ci */
section:nth-child(4) {background: #fff;}
#ci {position: relative; height: 537px; top: 50%; transform: translateY(-50%); overflow: hidden; color: #424242;}
.inner-ci-left {float: left; width: 70%; padding-right: 50px;}
.inner-ci-left > .sub-title {font-size: 17px; font-weight: 100; letter-spacing: 1px; color: #424242;}
.inner-ci-left > h2 {font-size: 50px; padding: 20px 0 30px;}
.inner-ci-left > h2 > .sky {font-weight: 300; color: #009afa;}
.inner-ci-left p strong {font-weight: 300;}
.inner-ci-left p .blue {color: #009afa;}
.inner-ci-left p .yellow {color: #fce804;}

.inner-ci-left .ci-sub-title {display: block; font-weight: 500; font-size: 23px; padding: 35px 0 5px 0;}
.inner-ci-left .ci-down {padding-top: 70px;}
.inner-ci-left .ci-down a {display: inline-block; color: #7a7a7a; font-weight: 300; padding: 9px 15px 10px; border: 1px solid #7a7a7a; border-radius: 20px;}
.inner-ci-left .ci-down a + a {margin-left: 10px;}
.inner-ci-left .ci-down a:hover, .inner-ci-left .ci-down a:focus {background: #009afa; color: #fff; border: 1px solid transparent;}
.inner-ci-left .ci-down i {font-size: 12px; padding-left: 10px;}

.inner-ci-right {float: left; width: 30%;}
.inner-ci-right .ci-image {width: 100%; height: auto; margin: 50px 0 15px 0;}
.inner-ci-right .ci-image img {width: 100%; height: 100%;}
.inner-ci-right .ci-color p {display: inline-block; float: left; width: 50%; font-size: 19px; font-weight: 200;}
.ci-color .ci-color-y {text-align: right;}
.ci-color .ci-color-b:before {content: ''; background: url(../img/airport-info/airblue.png) no-repeat center; padding-left: 20px;}
.ci-color .ci-color-y:before {content: ''; background: url(../img/airport-info/airyellow.png) no-repeat center; padding-left: 20px;}

/* section charter */
section:nth-child(5) {background: #eee;}
#charter {position: relative; top: 50%; transform: translateY(-50%); text-align: center; color: #424242;}
.charter-tbox > h2 {font-size: 50px;}
.charter-tbox > h2 .thin br {display: none;}
.charter-tbox .marks {color: #d8d8d8;}
.charter-tbox .marks i:first-child {padding-right: 30px;}
.charter-tbox .marks i:last-child {padding-left: 30px;}
.charter-tbox .more {position: relative; display: inline-block; margin: 30px 0 90px; padding: 0 30px; font-size: 19px; font-weight: 400; color: #009afa;}
.charter-tbox .more img {position: absolute; right:20px; width: 22px; height: 22px; opacity: 0; transition: all 0.2s 0.1s;}
.charter-tbox .more:hover img, .charter-tbox .more:focus img {right: 0; opacity: 1;}

.charter-sum img {height: auto;}




/* tablet - iPad */
@media screen and (min-width: 376px) and (max-width: 768px) {
	
	/* 공통요소 */
	article {width: 85%;}
    p {font-size: 19px;}
	
	/* section intro */
	.intro-tbox {width: 100%; margin-top: 300px; text-align: center;}
	.intro-tbox p {padding-top: 40px;}
	.intro-tbox > p > br {display: none;} 
	.intro-tbox:after {margin: 100px 50% 0;}
	
	/* section info */
	.info-tbox {margin-bottom: 80px;}
	.info-tbox > h2 {font-size: 50px; padding: 5px 0 30px;}
    .info-tbox p br {display: none;}
	.icon > div {width: 30%; margin-right: 5%; height: 280px; background-size: 80px; background-position: top 20% left 50%;}
	.icon span {bottom: 18%; font-size: 50px; padding: 30px 0;}
	.icon p {font-size: 25px;}
	
	/* section since */
    #since {width:85%;}
    .year-box {margin-top: 30px;}
	.inner-tbox h2 {font-size: 30px;}
	.year-box > p {font-size: 250px;}
	.inner-since .airplane-img {position: absolute; top: 55%; left: 38%; transform: translate(-50%,-50%); z-index: 1;}
	.inner-since .airplane-img img {max-width: none; width: 130%;}
	
	/* section ci */
	#ci {height: 680px; /*height: auto;*/}
	.inner-ci-left {padding-right: 50px;}
	.inner-ci-left > p > br {display: none;}
	.inner-ci-left .ci-sub-title {padding: 28px 0 10px 0;}
	.inner-ci-left .ci-down {position: absolute; left: 50%; transform: translateX(-50%);}
    
	.inner-ci-right .ci-color p {font-size: 16px;}
	
	/* section status */
    .charter-tbox > h2 {font-size: 43px;}
	.inner-charter .charter-sum {margin-top: 0;}
	.charter-sum img {width: 100%; height: auto;}
}

/* mobile - iPhoneX */
@media screen and (max-width: 767px) {
	
	/* 공통요소 */
	article {width: 85%; margin: 0 auto;}
	h2 {font-size: 40px;}
	p {font-size: 22px; line-height: 1.3;}
	
	/* section intro */
	.intro-tbox {width: 100%; margin-top: 200px; text-align: center;}
	.intro-tbox p {padding-top: 40px;}
	.intro-tbox > p > br {display: none;} 
	.intro-tbox:after {margin: 60px 50% 0;}
	
	/* section info */
    .info-tbox > h2 {padding: 50px 0 0;}
	.info-tbox > p {display: none;}
    .info-tbox > h2 > br {display: block;}
	.icon .ico {position: relative; width: 100%; margin-bottom: 10%; height: 140px; background-size: 80px; background-position: top 50% left 15%;}
	.icon > .ico > p {position: absolute; left: 58%; top: 15%; transform: translateX(0); width: 35%; font-size: 20px;}
	.icon > .ico > span {position: absolute; top: 50%; left: 65%; transform: translateY(-50%); font-size: 60px; padding: 0;}
	.icon > .city > span {left: 59%;}
	.icon .airport:before {content: ''; display: block; border-left: 2px solid #d8d8d8; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
	.icon .city:before {content: ''; display: block; border-left: 2px solid #d8d8d8; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
	.icon .nation:after {content: ''; display: block; border-left: 2px solid #d8d8d8; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
	
	/* section since */
    #since {width: 85%;}
    .inner-since {margin-top: 60px;}
	.inner-tbox h2 {margin-top: 10px; font-size: 26px; line-height: 1.3;}
	.inner-tbox p:nth-of-type(2) {display: none;}
    .inner-since .year-box {margin-top: 20px;}
	.year-box .year-left, .year-box .year-right {font-size: 180px;}
	.inner-since .airplane-img {position: absolute; top: 50%; left: 35%; transform: translate(-50%,-50%); z-index: 1;}
	.inner-since .airplane-img img {max-width: none; width: 150%;}
	
	/* section ci */
	#ci {height: 640px; padding-top: 50px;}
	.inner-ci-left {width: 100%; padding: 0;}
	.inner-ci-left > h2 {font-size: 29px; padding: 20px 0 30px;}
	.inner-ci-left > p {color: #888; font-size: 18px;}
	.inner-ci-left > p > br {display: none;}
	.inner-ci-left .ci-sub-title {padding: 20px 0 10px 0;}
	.inner-ci-left .ci-down {display: none;}
	.inner-ci-right .ci-color p {display: none;}
	.inner-ci-right {width: 50%; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}
	.inner-ci-right .ci-image {margin: 0;}	
	
	/* section charter */
	.charter-tbox > h2 {font-size: 35px; line-height: 1.3; margin-bottom: 50px;}
    .charter-tbox > h2 .thin br {display: block}
	.charter-tbox .marks i:first-child {padding-right: 6px;}
	.charter-tbox .marks i:last-child {padding-left: 6px;}
	.charter-tbox .more {margin: 0; font-size: 25px; text-decoration: underline;}
	.charter-sum img {display: none;}
}
